@charset="utf-8";



@media screen and (max-width: 991px) {  
.carda{
	width: 370px;
	height: 500px;
	background-color: black;

}
.cardb{
	width: 370px;
	height: 500px;
	background-color: orange;
	float: right;
}
.cardc{
	width: 370px;
	height: 500px;
	background-color: #056;
	float: right;
}
}
@media screen and (min-width: 992px) and (min-width: 1199px){
.carda{
	width: 370px;
	height: 500px;
	background-color: black;

}
.cardb{
	width: 370px;
	height: 500px;
	background-color: orange;
	float: right;
}
.cardc{
	width: 370px;
	height: 500px;
	background-color: #056;
	float: right;
}

}
@media screen and (min-width: 1200px){
.carda{
	width: 100%;
	height: 500px;
	background-color: black;

}
.cardb{
	width: 100%;
	height: 500px;
	background-color: orange;
	float: right;
}
.cardc{
	width: 100%;
	height: 500px;
	background-color: #056;
	float: right;
}